mixin card(title = '', text = '')
    .card
        block body
            .card-body
                h5.card-title= title
                p.card-text= text

mixin card-title(title = '', subtitle = '', paragraphs = [], className='border-light text-dark bg-light')
    div(class= `card ${className}`)
        .card-body
            h2.card-title.mb-4= title
            h3.card-subtitle.mb-3= subtitle
            if block
                block
            else
                each val in paragraphs
                    -
                        var boldText = val[0]
                        var text = val[1]
                    p.card-text
                        span.fw-bold !{boldText}
                        |
                        | !{text}